<template id="weather">
    <div style="display:flex;gap:6px">
        <button id="update" type="button">Update</button>
        <div id="loading-indicator"></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</template>

<template id="weather-row">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</template>

<template id="weather-error">
    <tr>
        <td>Error loading data.</td>
    </tr>
</template>
